[submodule "www/themes/smigle"]
	path = www/themes/smigle
	url = https://gitlab.com/ian-s-mcb/smigle-hugo-theme.git
[submodule "www/themes/hugo-werc"]
	path = www/themes/hugo-werc
	url = https://github.com/ctis-me/hugo-werc.git
