body { display: flex; flex-wrap: wrap; font-family: sans; }
header { flex-basis: 100%; flex-shrink: 0; }
article { flex-basis: 60%; padding-left: 1em; }
footer { flex-basis: 100%; flex-shrink: 0; }
header nav { display: flex; justify-content: space-between; }
nav a, header a { text-decoration: none ; color: inherit; }
header h1 span { margin-left: 1em; font-size: 50%; font-style: italic; }
body > nav { flex-basis: content; padding-right: 1vw; min-width: 16em; }
nav ul { display: flex; flex-direction: column; list-style-type: none; list-style-position: outside; padding-left: 0;  }
nav li ul { padding-left: 0.6em }
footer { display: flex; justify-content: space-between; }

/* cut here to leave vanity behind */

body { margin:0; padding: 0; font-size: 100%; font-family: Helvetica, Verdana, Arial, 'Liberation Sans', FreeSans, sans-serif; }
a { text-decoration: none; color: }
a:hover { text-decoration: underline }

/* header and top bar */
header nav { background-color: rgb(100,135,220); color: white; padding: 0.3em; border-bottom: .75px solid black; font-size: 91%; }
header h1 { background-color: #ff6d06; color: black; margin: 0; border-bottom: .75px solid black; font-weight: normal; padding: 0.25ex; }

/* sidebar */
body > nav { border-right: 1px solid #ddd; padding: 0;  } 
body > nav > div { border-bottom: 1px solid #ddd; } 
body > nav > div a { color: rgb(0, 102, 204); display: block; text-transform: capitalize; font-weight: bold; padding: 0.25em 1ex 0.25em 2mm; font-size: 102%} 
body > nav > div a:hover { color: white; background-color: rgb(100,135,220); border-left: black solid 0.2em; text-decoration: none; }
body > nav > div p { font-weight: bold; margin: 0 0 0.5em 2mm; padding: 1em 0 0 0; }

/* main copy */
article { padding: 0.5ex 0 5vh 1vw;  }
article h1, article h2 { color: rgb(0,102,204); font-weight: bold; margin: 2em 0 0 0; border-bottom: 2px solid rgb(0,102,204); }
article h3, article h4, article h5 { color: rgb(0,102,204); font-weight: bold; margin: 2em 0 0 0; }
article h6, article h7, article h8 { color: rgb(0,102,204); font-weight: bold; margin: 2em 0 0 0; }
article a { color: rgb(0,102,204); }
article a:hover { color:  rgb(100,135,220); }

article, .nobreak {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* footer */
footer { color: white; background-color: rgb(100,135,220); }
footer a { color: inherit; }
footer div { padding: 1em; }

/* tables */
table { border: 1px solid rgba(128,128,128,0.5); padding: 0; }
th { color: white; background-color: rgb(100,135,220); }
tr:nth-child(odd) { background-color: rgba(128,128,128,0.1)  }

@font-face {
    font-family: 'Go';
    src:  url(/pub/font/Go-Regular.woff2);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Go Mono';
    src:  url(/pub/font/Go-Mono.woff2);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body { background-color: white; }

header, footer {
	font-family: 'Go', Geneva, Verdana, sans-serif;
	font-weight: normal; 
	font-style: normal;
}

.midHeader { background-color: #e7fbfd; border-color: black; font-size: 1.8em}

.superHeader, .superHeader a, header nav {color: #777!important; background-color: white}

div.right {margin-left: auto;}
div.right > a {display:  inline-block;}

side-bar { background-color: white;}

.sidebarLink {border-left: #777 solid 0.15em; color: black;}

.sidebarLink:hover {
  color: black!important;
  border-left: black solid 0.2em;
  background-color: #e7fbfd;
}

.thisPage, .thispage a {color:  black!important;border-left: black solid 0.2em!important; font-style: italic!important;}

.superHeader, footer { font-size: 0.8em; }

body > footer {left: 0; bottom: 0; width: 100%;}
footer, footer a {color: black;background-color: #e7fbfd;}
footer > .right { padding:  0;}

article { flex-basis:  55%; max-width: 60%; }

article h1, article h2, article h3, article h4, article h5, article h6 { color: black; padding-bottom: 3px}

article h1 {color: black;border-bottom: 2px solid #777;}
article h2 {color: black;border-bottom: 1px solid #777; font-size: 1.3em;}
article h3 {color: black;border-bottom: 0.5px solid #777;}
article h4 {color: black;border: none; padding-bottom: 0px;}

.category-list-link, .tag-list-link, .indexListItem > a {font-size: 110%}
.indexListItem {padding-left:  10px; margin-left:  10px;}
.tag-list-count, .category-list-count { font-size: 85%;}

img, video {border: 1.5px solid #777; max-width: 80%; height: auto;}
blockquote {font-style: italic}
pre, code { font-size:  95%; font-family: 'Go Mono', 'Courier New', Courier, monospace; -webkit-text-size-adjust: 100%; }
pre { background-color: #fafafa!important }

#post-head { margin-bottom: 2em; }
#post-metabox {display: flex; flex-direction:  column; border: 1px solid #777; padding: 5px; max-width: max-content;}

#post-categories, #post-tags { max-width: 100%; }

#post-pubdate-label a, #post-categories-label a, #post-tags-label a, #post-backbutton-label { padding-right:  2px; color:  black!important; font-weight: bold; text-decoration: none; }
#post-description > p { font-size:  115%; font-style: italic; }

#cattags {margin-top:  5px;}

.gallery-image-container, .cdnimg-container, .cdnvid-container {  max-width:  80%; display: flex; flex-direction: column; margin: 10px;}
.gallery-image-container .gallery-image, .gallery-video-container, .gallery-video { max-width: 100%; max-height: 100%; object-fit:  contain}
.gallery-description {margin-top:  5px; font-style: italic; font-size: 95%; text-align: left; word-break: break-word;}
.gallery-noborder .gallery-image {border: none;}
.gallery-rotate90 .gallery-image { transform: rotate(90deg); }
.gallery-rotate180 .gallery-image { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }
.gallery-rotate270 .gallery-image { transform: rotate(270deg); }
.gallery-micro {max-width: 10%;}
.gallery-small, .pdf-small {max-width: 25%;}
.gallery-medium, .pdf-medium {max-width: 50%;}
.gallery-large, .pdf-large {max-width: 75%;}
.gallery-huge, .pdf-huge {max-width: 100%;}

pre, code {max-width:  100%; scrollbar-width: none; overflow-x: scroll; overflow-y: scroll;}
pre::-webkit-scrollbar, code::-webkit-scrollbar { display: none; }

.stats-table-separator, .recently-updated-separator { border-top: dotted 1px; margin-top: 6px; margin-bottom: 6px}
.recently-updated-header { margin-top: 30px; padding-top: 30px; margin-bottom: 8px; padding-bottom: 8px; }
.recently-updated-posts-index { margin-top: 0; }
.recently-updated-section {text-decoration: none; color: black; font-weight: normal}
.rss-feed-icon { border: none; width: 16px; }
#rss-icon-link { margin-top: 25px; padding-top: 25px; }
#stats-table-archive h2:first-child, #recently-updated-table h3:first-child { margin-top:  25px; }
.archive-header, .recently-updated-header {margin:  0; border: none;}
.archive-header { margin-top: 50px; }

body > nav, body > nav > div {
  border: none;
  border-bottom: none;
  border-top: none; 
  border-left: none;
  border-right: none;
}

/* RSS XSL */

.rss-xsl {
  display: flex;
  flex-direction: column;
  font-family: 'Go', Geneva, Verdana, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.rss-xsl-title {
  color: black;
  font-size: 233%;
  background-color: #e7fbfd;
  border-top: 2px solid #777;
  border-bottom: 2px solid #777;
  font-weight:  normal;
  padding-left: 0.5%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.rss-xsl-title a { color: black }

.rss-xsl-description, .rss-xsl-home-link {
  padding-left: 0.5%;
}

.rss-xsl-post-link, .rss-xsl-post-more, .rss-xsl-home-link {
  font-weight: normal;
  color: rgb(0,102,204)
}

.rss-xsl-post-preview {
  font-family: 'Go Mono', 'Courier New', Courier, monospace
}

/* PDF embed shortcode */
.pdf-canvas {
  border: 1px solid black;
  direction: ltr;
  width: 100%;
  height: auto;
  display: none;
}

.pdf-paginator {
  display: none;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pdf-source {
  margin-left: 10px;
}

.pdf-loadingWrapper {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
}

.pdf-loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid #d2d0d0;;
  border-radius: 50%;
  border-top-color: #383838;
  animation: pdf-spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes pdf-spin {
  to { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes pdf-spin {
  to { -webkit-transform: rotate(360deg); }
}

@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: 100%;
  }
}

@media only screen and (max-width: 600px) {
    body { font-size: 110% }
    .posts-table-date {white-space: nowrap; font-size: 90%;}
    article, .indexListItem { padding-left: 2%; flex-basis: 100%; max-width: 96%; }
    article { text-align: justify; }
    article h1, article h2, article h3, article h4, article h5, article h6 { text-align: left; }
    table, td, #post-head, article li { text-align: left }
    img, video { max-width: 100%; }
    pre, code { font-size: .9rem; }
    .gallery-image-container, .cdnimg-container, .cdnvid-container {  max-width:  100%; }
    .gallery-micro {max-width: 50%;}
    .gallery-small {max-width: 70%;}
    .gallery-medium {max-width: 100%;}
    .gallery-large {max-width: 100%;}
    .gallery-huge {max-width: 100%;}
    footer > .left { max-width:  40%; font-size: 80%}
    #cse-search-box-footer-query { width: 60%; }
}
