name: Sync with Codeberg

on:
  schedule:
    - cron: '0 0 */3 * *'  # Run every 3 days at midnight
  workflow_dispatch:  # Allow manual trigger

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout GitHub repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 0  # Fetch all history for all branches and tags
        ref: 'master'  # Checkout the master branch

    - name: Add Codeberg remote
      run: |
        git remote add codeberg https://codeberg.org/emmett1/alicelinux.git

    - name: Fetch changes from Codeberg
      run: |
        git fetch codeberg

    - name: Merge changes from Codeberg
      run: |
        git checkout master
        git merge --allow-unrelated-histories codeberg/main

    - name: Push changes to GitHub
      run: |
        git push origin master

